{% load static %}


<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="javascripts/jquery.js"></script>
	
	<script type="text/javascript" src="javascripts/jquery.googlemap.js"></script>
</head>
<body>

	<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 600px;
        width: 600px;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>


	
	<div class="container" style="padding-top: 50px;">
<table class="table">
  <thead class="thead-light">

    <tr align="center">
      <th scope="col">Nombre de Usuario</th>
      <th scope="col">Ubicación</th>
    </tr>
  </thead>
  <tbody>
  {% for key, value in context.items  %}
    <tr align="center">
      <td>{{key}}</td>
      <td>{{value.2}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br>
<hr>

<div>
    <a href="{% url 'home' %}">Inicio TriPereira</a>
    </div>

<div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 4.00, lng: -72.00},
          zoom: 5
        });
      }
    </script>


<div class="container" align="center">
	<p class="h3" align="center" style="padding-top: 50px">Mapa con Ubicaciones</p>

		
	</div>
</div align="center">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRmB_YmM39rdmLFNpnAv0pOoGysIXTBsY&callback=initMap"
    async defer"></script>	
	<script type="text/javascript">
		  $(function() {
			var locations = JSON.parse('{{Ubicaciones}}');
		  	console.log(locations);
		    $("#map").googleMap();

		    $.each( locations, function( index, value ){
		    	console.log (value);
    		    $("#map").addMarker({
		    		address: value,
	    		});
			});

		  })
		</script>



</body>
</html>
